<h2>Título HTML</h2>

<p>Este es un párrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel placeat.</p>
<p class="nerko">Este es un párrafo con fuente personalizada omg.</p>

<ul>
    <li><a href="https://google.com" target="_blank">Primer Enlace</a></li>
    <li><a href="https://youtube.com" target="_blank">Segundo Enlace</a></li>
    <li><a href="https://facebook.com" target="_blank">Tercer Enlace</a></li>
</ul>

<table>
    <tr>
        <th>Producto</th>
        <th>Existencias</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Iphone 10</td>
        <td>2</td>
        <td>$2.000.000</td>
    </tr>
    <tr>
        <td>Mouse</td>
        <td>100</td>
        <td>$50.000</td>
    </tr>
    <tr>
        <td>PC Gamer</td>
        <td>2</td>
        <td>$3.000.000</td>
    </tr>
</table>


<div>
    <div class="contenedor">
        
        <div class="header">
          <div class="logo">Logo</div>
          <div class="buscador">Buscador</div>
        </div>
      
        
        <div class="main-section">
          <div class="sidebar">Side-bar</div>
          <div class="content">Content</div>
        </div>
      
        
        <div class="footer">
          <div class="footer-item">Footer-1</div>
          <div class="footer-item">Footer-2</div>
          <div class="footer-item">Footer-3</div>
        </div>
      </div>
      
      
</div>
